language: node_js
node_js:
- 4
- 5
- 6

notifications:
  email: false
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/54f8a1e753f859f5ca1a
    on_start: never
    on_failure: change

deploy:
  provider: npm
  email: hello@trailsjs.io
  api_key:
    secure: J8ZYI+2vEbILgSalnTi1wZj374kTa+6yY67SW7uMBDKx6AQprN1Qxc00B7OmrI90xTo6Ia2wSzFPjsiPbh8BHnLI8Eoz0SoHAa5iPORx5XztLJN6kQsjeQWNuCBP5wjvDtsYlJLJsNppjun0Ywnl0w6rsFIBfcbHYRHrovntB8qiuGY5ZSq9Rnki0oDgilwIMLCUlOx1ajB+c6oRq59cNn5TKbuGh7Etb1plzsuPLDkrjrtaw9RcDp49P6jJFNCSsKNJgpy8Ki7QRVA52l16SfrRfctAO98NR6+Y+0kjUqbm+CEcAtMnzmF7/Nqi1VLfP9tRYwR0HbNh4X9yrzfOu1ilF8ZHedB0LPaAu0GdTbPJwkXVweueDQJlAYY5X8rcPbXEYUo5aEL082UhSreVFO/Q7FaG+JmbDqnMDzj2cS2zV1ruPfv8C319rSUgKRFe4GZMUcttbqZfAz490W7Y3PAyBeS7gjG8fxGyv/5iq42JYC60CZIllVLxinwRzAff3zSf8xUhCIZFjGiNb9qGaEj8jo9/vNkUfnCGFrshMEmRqUjS6ae/wS5qPlJ4pCfNCMQDNAwbDeVk5Tc9FmPRtd1lA7j63vAqe9zsKnaMzBmYAPY+wEMvOl8n+SxAylKLy+v44H8MX7nykd58qwdOW8kyYWJqAK7QrwxgnvD8n5Y=
  on:
    tags: true
    repo: trailsjs/trailpack-express
    node: 6
